
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('../images/BckB2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
h1 {
    font-size: 50px; /* Adjust the font size as needed */
    font-family: "BankGothic Md BT";
    font-weight: bold; /* Optionally set font weight */
    color: #61d593; /* Set text color */
    margin-top: 20px; /* Add margin at the top */
    margin-bottom: 20px; /* Add margin at the bottom */
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topmenu {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.topmenu a {
    color: #fff; /* White color for links */
    text-decoration: none;
}

.content {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdowns {
    width: auto;
    display: flex;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: row;
}

input[type="text"],
input[type="password"] {
    width: 200px;
    height: 30px;
}

.dropdowns select {
    flex-grow: 2;
    font-size: 25px;
    padding: 10px;
}

#order-button {
    display: flex;
    justify-content: center; /* Center buttons horizontally */
    margin-top: 20px; /* Example margin */
}

#order-button button {
    width: 120px;
    height: 50px;
    font-size: 1.1rem;
    background-color: #51c57d;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    margin: 0 10px;
    transition: background-color 0.3s;
}

#order-button button:hover {
    background-color: #449d66;
}

.horizontal-buttons {
    list-style-type: none;
    padding: 0;
}

.horizontal-buttons li {
    display: inline-block;
    margin-right: 10px;

}

.horizontal-buttons li:last-child {
    margin-right: 0;
}

.horizontal-buttons button {
    width: 120px;
    height: 50px;
    font-size: 1.1rem;
    background-color: #51c57d;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    margin: 0 10px;
    transition: background-color 0.3s;
}

.horizontal-buttons button:hover {
    background-color: #429662; /* Darker orange on hover */
}

.header-background {
    background-size: cover;
    background-position: center;
    padding: 20px; /* Example padding */
    width: 100%; /* Ensure full width */
    height: 10vh; /* Fill the entire viewport height */
    position: fixed; /* Fixed position */
    top: 0; /* Stick to the top of the viewport */
    left: 0; /* Align to the left edge */
    z-index: 1000; /* Ensure it's on top of other content */
}

.dropdowns {
    width: 100%; /* Ensure full width */
    display: flex;
    gap: 10px;
    padding-left: 20px; /* Example padding */
    padding-right: 20px; /* Example padding */
    flex-direction: row;
    background-color: #51c57d; /* Orange background color */
    border-radius: 10px; /* Rounded corners */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    margin-top: 20px; /* Example margin */
}

.left-ad,
.right-ad {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
}

.left-ad {
    left: 1px; /* Adjust distance from the left edge */
}

.right-ad {
    right: 1px; /* Adjust distance from the right edge */
}

.left-ad img,
.right-ad img {
    width: 160px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

@media only screen and (max-width: 800px) {
    .dropdowns {
        flex-direction: column;
    }
}
