<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:replace="~{fragments :: head('Frontpage')}"></div>

<!--  Lav "index.css" om, i .html fil. -->
<link href="../public/css/admin.css" th:href="@{/css/admin.css}" rel="stylesheet"/>
<div th:replace="~{fragments :: header}"></div>

<body>
<header th:fragment="header" style="width:100%;border-bottom:1px solid black;">
<h1>Skejs Maskinen</h1>

<table>
    <thead>
    <tr>
        <th> Order </th>
        <th> ID. </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${Order.empty}">
        <td colspan="2"> No Orders Available </td>
    </tr>
    <tr th:each="Order : ${Order}">
        <td><span th:text="${Order.orderID}"> Title </span></td>
    </tr>
    </tbody>
</table>

<footer>
    <div class="user-dropdown">
        <select>
            <option value="a">user a</option>
            <option value="b">user b</option>
            <option value="c">user c</option>
        </select>
    </div>
    <input type="text" class="text-field" placeholder="Enter text here">
    <button type="submit" class="submit-button">Submit</button>
</footer>

</body>
<div th:replace="~{fragments :: footer}"></div>
</html>