<!DOCTYPE html>
<html lang="en">
<div th:replace="~{fragments :: head('Frontpage')}"></div>

<body>

<div th:replace="~{fragments :: header}"></div>


<div class="content">
    <h2>Øens bedste cupcakes. Vælg og bestil her:</h2>

    <div class="dropdowns">
        <select id="bund">
            <option>Vælg bund</option>
            <option value="vanille">Vanille</option>
            <option value="chokolade">Chokolade</option>
        </select>
        <select id="topping">
            <option>Vælg topping</option>
            <option value="vanille">Vanille</option>
            <option value="chokolade">Chokolade</option>
            <option value="jordbær">Jordbær</option>
        </select>
        <select id="antal">
            <option>Vælg antal</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
    </div>


<form method="post">
    <div id="order-button">
        <button type="submit" formaction="/buyCupcakes">Tilføj til indkøbskurv</button>
        <button type="submit" formaction="/seecart">Se indkøbskurv</button>
    </div>
</form>


</div>
</body>
</html>
