<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(title)">
    <title th:text="${title}"></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<header th:style="'background-image: url(' + @{/images/CupcakeHeader32.jpg} + ');'" class="header-background">
    <nav>
        <ul class="horizontal-buttons">
            <li><a th:href="index.html"><button name="button">Login</button></a></li>
            <li><a th:href="cupcakeshop.html"><button name="button">Shop</button></a></li>
            <li><a th:href="order_cupcakes.html"><button name="button">Bestil</button></a></li>
            <li><a th:href="orders.html"><button name="button">Kurv</button></a></li>
            <li><a th:href="admin.html"><button name="button">ADMIN</button></a></li>
        </ul>
    </nav>
</header>



<footer th:fragment="footer" style="width:100%;border-top:1px solid black;">

</footer>

</body>
</html>