<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments :: head('Frontpage')}"></div>


<body>
<div th:replace="~{fragments :: header}"></div>

<div class ='content' >
<form class ="generic-form" method="post">
    <input type="text" name ="username" placeholder="Enter your username"/>
    <input type ="password" name="password" placeholder="Enter your password"/>

    <button type="submit" formaction="/login">Login</button>

    <div>
        <p class="error" th:unless="${#strings.isEmpty(message)}" th:text="${message}"></p>
    </div>
</form>
</div>
<div th:if="${session.currentUser !=null}">
    <span th:text="${session.currentUser.username}"></span> |
    <a href="index.html" th:href="@{/logout}">Logout</a>
</div>

<p><a href="createuser.html" th:href="@{/createuser}">Create user</a></p>

</body>
</html>
