<!DOCTYPE html>
<html lang="en">
<div th:replace="~{fragments :: head('Frontpage')}"></div>

<body>
<div th:replace="~{fragments :: header}"></div>

<div class ='content' >
<form class ="login-form" method="post">
    <input type="text" name ="email" placeholder="Enter your email"/>
    <input type ="password" name="password" placeholder="Enter your password"/>


    <button type="submit" formaction="/login">Login</button>
</form>
</div>
<p><a href="createuser.html th:href="@{/createuser}">Create user</a></p>

</body>

</html>